.header{
  width: 100%;
  height: 60px;
  padding: 0 20px;
  &__nav{
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: inherit;
    &--logo{
      place-items: center;
      display: flex;
      width: 50%;
      gap: 10px;
      p{
        font-size: 2.8rem;
        color: $Primary-font-color;
      }
    }
    &--icons{
      justify-content: right;
      place-items: center;
      display: flex;
      width: 50%;
      gap: 20px;
      img{
        height: 30px;
        width: 30px;
      }
    }
  }
}